{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-param-reassign": 0,
    "no-use-before-define": 0
  }
}
